body {
    background-color: #000000;
    height: auto;
    width: auto;
  }
  
  h1 {
    color: #FFFFFF;
    text-align: center;
  }

  h2 {
    color: #FFFFFF;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: #FFD700;
  }

  #p1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
  }

  img {
    width: 120px;
    height: 150px;
    align-items: center;
  }

  .border {
    border-style: solid;
    border-width: 5px;
    color: #FFD700;
    
  }

 .background-img{
   background-image: url("zeus.jpg");
 }

 .border:hover {
  color: #682322;
}

#picboi img{
  transition: color, .5s;
}

